<div class="task-list-container" cdkDropListGroup>
  @for (status of statuses(); track status.statusName) {
    <div class="status-section">
      <div class="status-header" (click)="toggleSection(status.statusName)">
        <i class="fas" [class.fa-caret-down]="!collapsedSections[status.statusName]" [class.fa-caret-right]="collapsedSections[status.statusName]"></i>
        <span class="status-badge" [style.background-color]="status.statusColor">
          {{ status.statusLabel }}
        </span>
      </div>

      @if (!collapsedSections[status.statusName]) {
        <div 
          class="drop-zone"
          [attr.data-status]="status.taskStatusId"
          cdkDropList
          [cdkDropListData]="tasksByStatus()[status.statusName] || []"
          (cdkDropListDropped)="drop($event)">

          @for (task of tasksByStatus()[status.statusName] || []; track task.id) {
            <div class="task-card" cdkDrag [cdkDragData]="task" (click)="openTaskInfo(task.id, status.statusColor, status.statusLabel,task.assignees)">
              <div class="status-dot" [style.background-color]="status.statusColor"></div>
              
              <div class="task-title">{{ task.title }}</div>
              
              <div class="assignees">
                @for (assignee of task.assignees; track assignee.initials) {
                  <div class="assignee-avatar" [style.backgroundColor]="assignee.color">
                    {{ assignee.initials }}
                  </div>
                }
              </div>

              <div class="due-date" [class.overdue]="task.isOverdue">
                {{ task.dueText }}
              </div>
            </div>
          }
          
          @if ((tasksByStatus()[status.statusName] || []).length === 0) {
            <div class="empty-drop-zone">Brak zadań w tym statusie</div>
          }
        </div>
      }
    </div>
  }
</div>
@if(taskToShowInfo !== null) {
  <app-task-info [taskID]="taskToShowInfo" 
                [statusColor]="taskToShowStatusColor" 
                [statusLabel]="taskToShowStatusLabel" 
                [boardName]="currentBoard()?.boardName"
                [assignees]="taskToShowAssignees"
                (close)="closeTaskInfo()"></app-task-info>
}