.login-body {
    margin: auto;
    width: fit-content;
}

.login-page-container {
    margin: auto;

    padding-top: 15rem;
    width: 95vw;
}

.register-redirect {
    text-align: center;
    color: gray;
}

.register-link {
    color: green !important;
}

.login-button {
    width: 30px;

    margin-top: 5px;
    margin-left: 0.5rem;
    cursor: pointer;
}

.password-button-container {
    display: flex;
    align-items: flex-start;
}